body{
  background-color:#000500;
}
.Container{
  text-align: center;
}
.App{
}
.Screen{
  color:white;
  background-color: #ccffcc;
  margin-left: 50%;
  margin-right: 50%;
}
.Numbers{
  width: 50%;
  float:left;
}
.Button{
  display: inline-block;
  float: left;
  border: solid 4px #001a00; 
  border-radius: 5px;
  background-color:#006600;
  color:#ccffcc;
  font-size:25px;
  margin:10px;
}
.Button_Num{
  width: 20%;
  height: 60px;
}
.Clear{
  clear:both;
}